@charset "UTF-8";

.test {
	color: red;
}

.home {
	color: green;
}

blockquote:before {
    content: open-quote;
    font-size: 24pt;
    text-align: center;
    line-height: 42px;
    color: #fff;
    background: #ddd;
    float: left;
    position: relative;
    top: 30px;
    border-radius: 25px;
 
    /** define it as a block element **/
    display: block;
    height: 25px;
    width: 25px;
}
blockquote:after {
    content: close-quote;
    font-size: 24pt;
    text-align: center;
    line-height: 42px;
    color: #fff;
    background: #ddd;
    float: right;
    position: relative;
    bottom: 40px;
    border-radius: 25px;
 
    /** define it as a block element **/
    display: block;
    height: 25px;
    width: 25px;
}

.container {
	width: 90%;
}

.leftrightbox {
	float: left;
	width: 60%;
}

.leftbox {
	float: left;
	width: 30%;
}

.rightbox {
	float: right;
	width: 30%;
}

.underbox {
	clear: both;
}